// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    min-width: 1366px;
    background-color: #ffffff;
}
.container{
    min-width: 1366px;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid;
}
.navbar-brand{
    font-size: 28px;
    font-family: Arial, serif;
    font-weight: bold;
}
.left-panel,.right-panel{
    margin-top: 20px;
    padding: 5px;
}
.panel-title{
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.cat_list{
    font-family: Arial, serif;
    font-size: 16px;
    list-style: square;
}
.article_list{
    font-family: Arial, serif;
    font-size: 16px;
    list-style: square;
}
.article_list li{
    padding: 3px;
}
.article_list li a{
    color: #000000;
}
.article_list li a:hover{
    color: #1468A0;
}
.article_title{
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.article_sub{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.article_content{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
}
.search-button{
    width: 19%;
    border-radius: revert;
}
.search-input{
    width: 78%;
}
.right-panel-box{
    margin-top: 10px;
}

.pagination{
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}
#category{
    position: fixed;
    right: 10px;
    top:40%;
    width: 250px;
    border-left: 1px solid;
    background-color: #f0f2f5;
    padding: 10px;
}


